*{
   margin: 0;
   padding: 0;
}

body{
    max-width: 100vw;
	height: 100vh;
	background: #eee;
}

body > header{
	position: relative;
	top: 5%;
}

main{
	position: relative;
	top: 5%;
}

.slider{
	width: 100%;
	height: 300px;
}

.bg-menu{
	background: #345678;
}

/* filter style */

fieldset:nth-child(1) label{
	display: block;
}

.on{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: white;
	z-index: 100;
	display: block;
}



/* product card style */

.product{
	background: #fff;
	padding: 20px;
	
}

.card-img-top{
	padding: 10px;
	text-align: center;
}

.card i{
	font-size: 170px;
}

.productPrice{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.productPrice p{
	display: inline-block;
}

.productNowPrice{
	color: red;
	font-size: 40px;
}


